/* h1{
    color: aqua;
}

h2 {
    color:black
}
button{
    color: aqua;
} */

 /* Unversial selector */
 * {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
 }

 /* ID selector in css */
 #myId{
    transition-property: all;
 }